@model IEnumerable<FermeWeb1._0.Models.Producto>

@{
    ViewBag.Title = "Producto";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
    <iframe class="responsive-iframe" src="~/Header.html"></iframe>
    <style>
        /* cssheader*/
        .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 90%;
        }
    </style>
</head>
<body>
   <h1>aca van los datos de los productos si me ejecutas me tapara el iframe</h1>
   
</body>
