@model List<FermeWeb1._0.Models.Producto>
@{
    ViewBag.Title = "Producto";
}

<head>
    <title>Ferreteria FERME</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/Home/index"><img src="~/Imagenes/FERME Logo.png" class="responsiveImage" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Ingrese su busqueda..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Herramientas y Maquinaria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Aire Libre y Jardín</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Decoración e Iluminación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Muebles y Organización</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-3" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
                         alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Serrucho bonito</h3>
                    <p>$10.990</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                         alt="Second slide">
                    <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Strong mask</h3>
                    <p>Secondary text</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                         alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Slight mask</h3>
                    <p>Third text</p>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->


    <div class="grid-wrapper">
        <div class="container" id="contenido"></div>
        <div class="box zone"><img src="~/Imagenes/Productos/KitHerramienta.png" class="rellenar"></div>
        <div class="box zone"><img src="~/Imagenes/Productos/MOTOSIERRA_STIHL_MS-180C.jpg"></div>
        <div class="box zone"><img src="~/Imagenes/Productos/Polpaico.jpg"></div>
        <div class="box zone"><img src="~/Imagenes/Productos/STANMartillo.jpg"></div>
    </div>
    

    <footer class="">Ferreteria FERME 2020</footer>
    @foreach (var pros in ViewData["ProductosData"] as IEnumerable<FermeWeb1._0.Models.Producto>)
    {
        <span id="result">@pros.nombre </span>

    }

    <input type="button" value="BuscarP" id="btnBuscar" />

</body>
@*si quieren aprender ajax aca un ejempli simple*@ 
@*@section scripts{

    <script>
    $(function () {
        $("#btnBuscar").click(function () {
            var url = "@Url.Action("productos","Producto")";
            $.get(url).done(function (data) {
                $("result").append(data);
            });

        });

    });

    </script>
}*@






