@model IEnumerable<FermeWeb1._0.Models.Producto>

@{
    ViewBag.Title = "Producto";
}
<link href="~/css/Iframe.css" rel="stylesheet">
<head>
    <iframe class="responsive-iframe" src="~/Header.html"></iframe>
</head>
<body>
    <h1>aca van los datos de los productos si me ejecutas me tapara el iframe</h1>
</body>
