
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="css/Header.css" rel="stylesheet">
    <header>
        <div class="wrapper">
            <img src="Imagenes/FERME Logo.png" class="responsiveImage" />

            <nav>
                <a href="">Carro</a>
                <a href="/Cliente/index">LogIn</a>
            </nav>
        </div>
    </header>
