<!DOCTYPE html>
<head>
    <title>Ferreteria FERME</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/Home/index"><img src="~/Imagenes/FERME Logo.png" class="responsiveImage" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Ingrese su busqueda..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <nav>
            <a href="/Producto/carro"><img src="~/Imagenes/carrito.png" class="responsiveImage" /></a>
            <a class="circulo" id="cantidad"></a>
            @if (Session["data"].ToString() == "null")
            {
                <a href="/Cliente/index">LogIn</a>
            }
            else
            {

                <a>&nbsp;Bienvenido @Session["data"].ToString()</a>
            }

        </nav>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Herramientas y Maquinaria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Aire Libre y Jardín</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Decoración e Iluminación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Muebles y Organización</a>
                </li>
            </ul>
        </div>
    </nav>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Monto</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbdyPedidos"></tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-xl-right">Total</td>
                <td><label id="lblTotal"></label></td>
            </tr>
        </tfoot>
    </table>
    <form action="/Producto/RealizarCompra">
        <input type="submit" value="Comprar" />
    </form>
    <div class="modal fade" id="modalEditarCantidad" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Cantidad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Nombre :<label id="nombre"></label><br />
                    Precio :<label id="Precio"></label><br />
                    Cantidad :<input type="text" id="txtcantidad" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAceptarCantidad">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</body>
    <script>
   
    $(function () {

        $.ajax({
            type: "GET",
            url: '@Url.Action("llenar", "Producto")',
            dataType: "aplication/json; charset=utf-8",
            dataType: "json",
        }).done(function (info) {
            if (typeof info != "undefined") {

                for (var i = 0; i < info.length; i++) {
                    var total = info[i].preciouni * info[i].cantidad;
                    var tbody = "<tr>";
                    tbody += "<td>" + info[i].nombre + "</td>";
                    tbody += "<td>" + info[i].preciouni + "</td>";
                    tbody += "<td>" + info[i].cantidad + "</td>";
                    tbody += "<td>" + total + "</td>" + "</td>";
                    tbody += "<td>";
                    tbody += "<input type='button' id='btnEditar' value='Editar' class='btn-sm btn-warning'/>";
                    tbody += "&nbsp;<input type='button' id='btnEliminar' value='Eliminar' class='btn-sm btn-danger' />";
                    tbody += "</tr>";
                    $("#tbdyPedidos").append(tbody);
                    fnmsumar();
                };

            }
        });
    });
        function fnmsumar() {
            var total = 0;
            $("#tbdyPedidos").find("tr").each(function () {
                var monto = parseFloat($(this).find("td").eq(3).text())
                total += monto;
            });
            $("#lblTotal").text(total);
        }

        var col_nombre;
        var col_precio;
        var col_cantidad;
        var popup;

        $(document).on("click", "#btnEditar").click(function () {
            alert("Entro AL EDITAR");
            popup = $("#modalEditarCantidad");
            col_nombre = $(this).closest("tr").find("td").eq().text(0);
            col_precio = $(this).closest("tr").find("td").eq().text(1);
            col_cantidad = $(this).closest("tr").find("td").eq().text(2);

            popup.find("#nombre").text(col_nombre);
            popup.find("#Precio").text(col_precio);
            popup.find("#txtcantidad").val(col_cantidad.text());
            popup.modal();
        });
        //function editar() {
        //    $(document).on('#btnEditar', function () {
        //        alert("Entro AL EDITAR" );
        //        popup = $("#modalEditarCantidad");
        //        col_nombre = $(this).closest("tr").find("td").eq().text(0);
        //        col_precio = $(this).closest("tr").find("td").eq().text(1);
        //        col_cantidad = $(this).closest("tr").find("td").eq().text(2);

        //        popup.find("#nombre").text(col_nombre);
        //        popup.find("#Precio").text(col_precio);
        //        popup.find("#txtcantidad").val(col_cantidad.text());
        //        popup.modal();
        //    });
        //}
    </script>
