@model List<FermeWeb1._0.Models.Producto>
@{
    ViewBag.Title = "Producto";
}
<!DOCTYPE html>
<head>
    <title>Ferreteria FERME</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/Home/index"><img src="~/Imagenes/FERME Logo.png" class="responsiveImage" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Ingrese su busqueda..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <nav>
            <a href="/Producto/carro"><img src="~/Imagenes/carrito.png" class="responsiveImage" /></a>
            <a class="circulo" id="cantidad"></a>
            @if (Session["data"].ToString() == "null")
            {
                <a href="/Cliente/index">LogIn</a>
            }
            else
            {

                <a>&nbsp;Bienvenido @Session["data"].ToString()</a>
            }

        </nav>
    </nav>

    <div class="modal-body">
        Boleta:
        Nombre :<label id="nombre"></label><br />
        Precio :<label id="Precio"></label><br />
        Cantidad :<input type="text" id="txtcantidad" />
    </div>

    <footer class="">Ferreteria FERME 2020</footer>
</body>
